@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Quicksand-Regular.ttf);
}
#navbar {
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 48px;
  padding-right: 48px;
  background: #2C2C2C;
  width: 20%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 1001;
}
#navbar h1 a {
  color: #fff;
  text-decoration: none;
  text-align: right;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 48px;
  display: block;
  width: 100%;
  font-family: myFirstFont, Arial, sans-serif;
  letter-spacing: 2px;
  padding-right: 0.3em;
}
#navbar ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
#navbar ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#navbar ul li a {
  text-decoration: none;
  padding: 10px 0;
  font-family: myFirstFont, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}
#navbar ul li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#navbar ul li.active a {
  color: #FFC300;
}
#navbar .nav-footer {
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
  padding: 0 20px;
  width: 100%;
}
#navbar .nav-footer span {
  display: block;
}
#navbar .nav-footer a {
  color: #FFC300;
  text-decoration: none;
}
#navbar .nav-footer ul {
  padding: 0;
  margin: 0;
}
#navbar .nav-footer ul li {
  padding: 0;
  margin: 0;
  display: inline;
  list-style: none;
  font-size: 15px;
}
#navbar .nav-footer ul li a {
  color: rgba(255, 255, 255, 0.3);
  padding: 4px;
}
#navbar .nav-footer ul li a:hover, #navbar .nav-footer ul li a:active, #navbar .nav-footer ul li a:focus {
  text-decoration: none;
  outline: none;
  color: #FFC300;
}

#settings {
  display: none;
  position: fixed;
  top: 70px !important;
  left: 15px;
  z-index: 20;
}
#settings .all .button {
  transition: all 0.5s;
}
#settings .all .button i {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
  width: 50px;
  height: 40px;
}

#filter-for-phone {
  display: none;
  width: 100%;
  height: 100%;
}
#filter-for-phone .all {
  overflow: scroll;
  background: #2C2C2C;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 5;
  padding-top: 25px;
}
#filter-for-phone .all .col3 {
  width: 250px;
}
#filter-for-phone .all .col3 .nav {
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 48px;
  padding-right: 48px;
}
#filter-for-phone .all .col3 .nav .header .list-group {
  text-align: center;
  margin: 0;
  padding: 0;
}
#filter-for-phone .all .col3 .nav .header .list-group li {
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  display: inline;
}
#filter-for-phone .all .col3 .nav .header .list-group li a {
  text-decoration: none;
  padding: 10px 0;
  font-family: myFirstFont, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}
#filter-for-phone .all .col3 .nav .header .list-group li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#filter-for-phone .all .col3 .nav .header .list-group li.active a {
  color: #FFC300;
}
#filter-for-phone .all .col3 .nav .header h1 a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  font-family: myFirstFont, Arial, sans-serif;
  letter-spacing: 2px;
  padding-right: 0.3em;
  margin-bottom: 48px;
}
#filter-for-phone .all .col3 .nav .nav-footer {
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
  padding: 0 10px;
}
#filter-for-phone .all .col3 .nav .nav-footer span {
  display: block;
}
#filter-for-phone .all .col3 .nav .nav-footer a {
  color: #FFC300;
  text-decoration: none;
}
#filter-for-phone .all .col3 .nav .nav-footer ul {
  padding: 0;
  margin: 0;
}
#filter-for-phone .all .col3 .nav .nav-footer ul li {
  padding: 0;
  margin: 0;
  display: inline;
  list-style: none;
  font-size: 15px;
}
#filter-for-phone .all .col3 .nav .nav-footer ul li a {
  color: rgba(255, 255, 255, 0.3);
  padding: 4px;
}
#filter-for-phone .all .col3 .nav .nav-footer ul li a:hover, #filter-for-phone .all .col3 .nav .nav-footer ul li a:active, #filter-for-phone .all .col3 .nav .nav-footer ul li a:focus {
  text-decoration: none;
  outline: none;
  color: #FFC300;
}

.hide-filter {
  transition: all 0.5s;
  transform: translateX(-330px);
  z-index: -1;
}

.active-filter {
  transform: translateX(0px);
  transition: all 0.5s;
}

.slide-settings {
  transform: translateX(320px);
  transition: all 0.5s;
}

main {
  width: 80%;
  float: right;
  overflow: hidden;
}
main #slider {
  min-height: 500px;
  width: 100%;
  float: left;
  margin-bottom: 10em;
  clear: both;
}
main #slider .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
main #slider .flexslider .slides {
  position: relative;
}
main #slider .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 1000px;
  position: relative;
}
main #slider .flexslider .flex-control-nav {
  bottom: 20px;
  z-index: 1000;
  left: 20px;
  float: left;
  width: auto;
}
main #slider .flexslider .flex-control-nav li {
  display: block;
  margin-bottom: 10px;
}
main #slider .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
main #slider .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: transparent;
  border: #FFC300 2px solid;
}
main #slider .flexslider .flex-direction-nav {
  display: none;
}
main #slider .flexslider .slider-text-inner {
  position: relative;
  left: 750px;
  top: 750px;
  width: 600px;
  height: 250px;
  background-color: #FFC300;
}
main #slider .flexslider .slider-text-inner .desc {
  position: absolute;
  left: 30px;
  top: 20px;
}
main #slider .flexslider .slider-text-inner .desc h1 {
  font-family: myFirstFont, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 44px;
  line-height: 1.3;
  font-weight: 100;
}
main #slider .flexslider .slider-text-inner .desc h2 {
  font-family: myFirstFont, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 100;
}
main #slider .flexslider .slider-text-inner .desc h2 a {
  text-decoration: none;
  color: #000;
}
main #slider .flexslider .slider-text-inner .desc button {
  border: 1.5px transparent solid;
  background-color: white;
  width: 200px;
  height: 50px;
  transition: all 0.5s;
}
main #slider .flexslider .slider-text-inner .desc button a {
  text-decoration: none !important;
  padding: 10px;
  color: black;
  cursor: pointer;
  font-family: myFirstFont;
  transition: all 0.5s;
  text-transform: uppercase;
  font-size: 12px;
}
main #slider .flexslider .slider-text-inner .desc button a i {
  padding-left: 5px;
}
main #welcome {
  margin-left: 20px;
}
main #welcome .about-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
}
main #welcome .text-part .heading {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
}
main #welcome .text-part .title {
  font-size: 18px;
  margin-bottom: 49px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
}
main #welcome .text-part .title::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 60px;
  height: 4px;
  content: "";
  background: #FFC300;
}
main #welcome .text-part p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  font-family: myFirstFont;
}
main #welcome .icon-check {
  display: flex;
  justify-content: space-between;
}
main #welcome .icon-check .icon p {
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 0.5px solid #e6e6e6;
}
main #welcome .icon-check .icon p span i {
  color: rgba(0, 0, 0, 0.7);
  padding-top: 15px;
  transition: all 0.5s;
  cursor: pointer;
}
main #welcome .icon-check .icon p span i:hover {
  color: #FFC300;
}
main #welcome .icon-check .icon a {
  text-decoration: none;
}
main #welcome .icon-check .icon h3 {
  font-weight: 400;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 1.5;
  text-transform: uppercase;
}
main #services {
  margin-top: 100px;
  margin-left: 20px;
}
main #services .heading {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
}
main #services .title {
  font-size: 18px;
  margin-bottom: 49px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
}
main #services .title::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 60px;
  height: 4px;
  content: "";
  background: #FFC300;
}
main #services .feauture {
  display: flex;
  justify-content: center;
}
main #services .feauture i {
  text-align: center;
  padding-top: 25px;
  width: 125px;
  height: 90px;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
  font-size: 25px;
  color: #FFC300;
}
main #services .feauture .text {
  margin-left: 10px;
}
main #services .feauture .text h3 {
  font-weight: 500;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
main #services .feauture .text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  font-family: myFirstFont;
}
main #services a {
  text-decoration: none;
  margin-left: 20px;
}
main #services a .services-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 170px;
  display: block;
  z-index: -1;
  width: 75%;
}
main #services .desc {
  width: 70%;
  z-index: 1;
  margin-top: -20px;
  background: #fafafa;
  padding: 0.8em 0.5em;
}
main #services .desc h3 {
  font-weight: 500;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 1.5;
  margin-bottom: 0;
  text-transform: uppercase;
}
main #bg {
  margin-top: 100px;
  background-image: url(../../images/cover_bg_1.jpg);
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #works {
  margin-top: 100px;
  margin-left: 20px;
}
main #works .heading {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
}
main #works .title {
  font-size: 18px;
  margin-bottom: 49px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
}
main #works .title::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 60px;
  height: 4px;
  content: "";
  background: #FFC300;
}
main #works .project {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}
main #works .project .desc {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}
main #works .project .desc .con {
  padding: 20px;
  display: block;
  position: relative;
  height: 300px;
}
main #works .project .desc .con h3 a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: 300;
  font-family: myFirstFont;
  text-transform: uppercase;
}
main #works .project .desc .con span {
  font-weight: 300;
  font-family: myFirstFont;
  color: #999999;
  font-size: 13px;
}
main #works .project .desc .con .icon {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
main #works .project .desc .con .icon span a {
  text-decoration: none;
  color: #cccccc;
  padding: 5px;
  width: 25px;
  height: 40px;
  background: #333333;
  border-radius: 2px;
}
main #works .project .desc .con .icon span a i {
  color: #cccccc;
  padding: 2px;
}
main #works .project .desc:hover {
  opacity: 1;
}
main #blogs {
  margin-top: 100px;
  margin-left: 20px;
}
main #blogs .heading {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
}
main #blogs .title {
  font-size: 18px;
  margin-bottom: 49px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
}
main #blogs .title::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 60px;
  height: 4px;
  content: "";
  background: #FFC300;
}
main #blogs .blog {
  width: 100%;
}
main #blogs .blog a img {
  max-width: 100%;
  height: 250px;
  transition: 0.5s all ease-in-out;
}
main #blogs .blog a:hover img {
  transform: scale(1.1);
}
main #blogs .blog .desc {
  padding-top: 10px;
}
main #blogs .blog .desc span {
  text-transform: uppercase;
  font-weight: 300;
  color: #999999;
  font-family: myFirstFont;
  letter-spacing: 5px;
  font-size: 12px;
}
main #blogs .blog .desc h3 a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: 700;
  font-family: myFirstFont;
  text-transform: uppercase;
}
main #blogs .blog .desc p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
  font-family: myFirstFont;
}
main #contact {
  margin-top: 150px;
  background: #fafafa;
  height: 350px;
}
main #contact h2 {
  margin-left: 40px;
  margin-top: 50px;
  font-weight: 400;
  font-family: myFirstFont;
}
main #contact p {
  margin-left: 40px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  font-family: myFirstFont;
}
main #contact button {
  margin-left: 40px;
  margin-top: 20px;
  width: 190px;
  height: 50px;
  background-color: #FFC300;
  border: transparent;
  border-radius: 50px;
}
main #contact button a {
  text-decoration: none;
  color: white;
  font-family: myFirstFont;
  text-transform: uppercase;
  font-size: 15px;
}

@media only screen and (max-width: 992px) {
  #navbar {
    display: none !important;
  }
  #settings {
    display: block !important;
    width: 30% !important;
  }
  #filter-for-phone {
    display: block !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 576px) {
  main {
    width: 100% !important;
    overflow: hidden;
  }
  main #slider {
    min-height: 500px;
    width: 100%;
    float: left;
    margin-bottom: 10em;
    clear: both;
  }
  main #slider .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0;
  }
  main #slider .flexslider .slides {
    position: relative;
  }
  main #slider .flexslider .slides li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 500px !important;
    position: relative;
  }
  main #slider .flexslider .flex-control-nav {
    bottom: 20px;
    z-index: 1000;
    left: 20px;
    float: left;
    width: auto;
  }
  main #slider .flexslider .flex-control-nav li {
    display: block;
    margin-bottom: 10px;
  }
  main #slider .flexslider .flex-control-nav li a {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  main #slider .flexslider .flex-control-nav li a.flex-active {
    cursor: pointer;
    background: transparent;
    border: #FFC300 2px solid;
  }
  main #slider .flexslider .flex-direction-nav {
    display: none;
  }
  main #slider .flexslider .slider-text-inner {
    display: none !important;
    position: relative !important;
    left: 50px !important;
    top: 750px;
    width: 600px;
    height: 250px;
    background-color: #FFC300;
  }
  main #slider .flexslider .slider-text-inner .desc {
    position: absolute;
    left: 30px;
    top: 20px;
  }
  main #slider .flexslider .slider-text-inner .desc h1 {
    font-family: myFirstFont, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 44px;
    line-height: 1.3;
    font-weight: 100;
  }
  main #slider .flexslider .slider-text-inner .desc h2 {
    font-family: myFirstFont, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 100;
  }
  main #slider .flexslider .slider-text-inner .desc h2 a {
    text-decoration: none;
    color: #000;
  }
  main #slider .flexslider .slider-text-inner .desc button {
    border: 1.5px transparent solid;
    background-color: white;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
  }
  main #slider .flexslider .slider-text-inner .desc button a {
    text-decoration: none !important;
    padding: 10px;
    color: black;
    cursor: pointer;
    font-family: myFirstFont;
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 12px;
  }
  main #slider .flexslider .slider-text-inner .desc button a i {
    padding-left: 5px;
  }
}/*# sourceMappingURL=home.css.map */